html {
  height: 100vh;
}

body {
  /* background-color: #fc5e55; */
  /* background-image: linear-gradient(red, yellow);
  background-color: #FF9A8B; */
  /* A gradient going from the bottom right to the top left corner,
   starting blue and finishing red */
  /* linear-gradient(to left top, blue, red) */
  /* https://www.grabient.com/ */
  /* background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  ); */
  background-image: linear-gradient(#fc5e55, #fa4083);
  /* we can add here if you want by default color */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif; /* most of the website using roboto*/
  color: white;
  font-size: 1.125rem; /* it is 18px = 1.125 rem/0.0625 */
}

.container {
  width: 1024px;
  /* height: 204px; /* Text will overlap in case you have text would be more than 300 px (check with lorem 600).. solution for that, use min-height instead of this as always!*/
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  /* background-color: rgb(41, 196, 35); */
  /* min-height: 100px; */ /*remove height/min-height if you apply height basically.. if you want height, apply it otherwise not needed if we have padding*/
  display: flex;
  justify-content: space-between;
  align-items: center; /*align-items for one row; align-content for more the one row */
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;
  /* border-bottom: 5px dotted lightgray; */
}

main {
  min-height: 280px;
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.cards {
  /* min-height: 200px; */
  display: flex; /* used to order left to right */
  justify-content: space-between;
  text-align: center; /* it should be in the wrapper */
}

.card1 {
  background: url(images/image-background-card1.jpg);
  background-size: cover; /*it chose to kind of center everything*/
  background-position: bottom;
  min-height: 250px;
  width: 32%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card2 {
  background: url(images/image-background-card2.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 32%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card3 {
  background: url(images/image-background-card3.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 32%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.herobox1 {
  flex: 2; /* use this instead of width: 70% */
  padding-right: 100px;
}

.herobox2 {
  flex: 1; /* use this instead of width: 30% */
  /* align-self: center; */
}

h1 {
  /* font-size: 80px; */
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3.1rem; /* 52px * 0.0625 =3.25rem */
  margin-bottom: 1rem;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.228);
}

h2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 12px;
}

p {
  line-height: 1.75rem; /* Dan suggestion is "half of the bigger rem (body tag font-size)"*/
  margin-bottom: 0.5rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1rem;
  /* margin: 10px 30px 20px 30px; */
  margin-top: 10px;
}

.cards i {
  font-size: 100px;
  /* padding-top: 30px; */
}

.card1,
.card2,
.card3 {
  padding: 20px 20px 10px 20px;
  box-sizing: border-box; /* If we didn't use this, card will get bigger from it's actual width*/
  /* The boxes just get it's original 30%  */
}

.myButton {
  display: inline-block;
  margin-bottom: 18px;
  text-decoration: none;

  min-height: 30px;
  line-height: 30px; /* if u want to make centre vertically without flex, you should use line-height*/
  text-align: center;
  width: 160px;

  background-color: white;
  color: #fa4083;
  font-family: "Playfair Display", serif;
  padding: 10px 10px;
  border-radius: 4px;
  /* border-radius: 12px 0px 6px 100px; */
  /*LeftTop RightTop RightBottom LeftBotton*/
  /* border-radius: 0px 100px 100px 0px; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
  /* box-shadow: 5px 5px 10px black  - here, 10px is blur*/
  /* box-shadow: 10px 10px 5px lightblue inset; - The inset parameter changes the shadow from an outer shadow (outset) to an inner shadow.*/
}

nav a.myButton {
  margin-left: 30px;
}

.navbutton {
  background-color: transparent;

  font-family: "Playfair Display", serif;
  /* border-radius: 1px; */ /* This is added below */
  color: white;
  border: 1px solid white;
}

.tbox {
  width: 48%;
  padding: 32px;
  border: 1px solid white;
  margin: 16px 0px;
  box-sizing: border-box; /*it is very important for child to make responsive for all font-size (check with chrome font size setting)*/
}

.testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px 0px;
}
